.inputNewEditFilms {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 10px;
}

#noneFilm {
    text-align: center;
}

.imgGenresHome {
    border: 0;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.films {
    overflow: hidden;
    margin-bottom: 15px;
}

.films img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.films:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.filmsGenre {
    max-height: 360px;
    max-width: 100%;
}

.buttonFilms {
    white-space: normal !important;
    word-wrap: break-word;
    width: 60px;
    max-width: auto;
}

.buttonFavorite {
    word-wrap: break-word;
    color: #f2f2f2;
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
    max-width: auto;
}

.error {
    width: 100%;
    border: 1px solid #eb516d;
    margin-bottom: 10px;
    padding: 8px;
}

.intro-new-add-edit{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.h1AddAddEdit{
    color:#1C1C1C;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}

.btnSaveFilms{
    margin:auto;
    display:block;
    background-color: #2f4f4f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}